<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.category_name }} Quiz</title>
</head>
<body>
    <h2 style="color: red;font-weight: 700;">REMEMBER:</h2>
    <div id="countdown" style="color: red;font-size: larger;font-family: cursive;">Time remaining: 10 seconds</div>

    <script>
      var timeRemaining = 10; // Initial time in seconds
  
      function updateCountdown() {
        document.getElementById('countdown').innerHTML = 'Time remaining: ' + timeRemaining + ' seconds';
      }
  
      function countdown() {
        updateCountdown();
        if (timeRemaining == 0) {
          window.location.href = "{% url 'quiz_category_selection' %}";
        } else {
          timeRemaining--;
          setTimeout(countdown, 1000);
        }
      }

      window.onload = function() {
        countdown();
      };
    </script>
    <h1>{{ category.category_name }} Quiz</h1>
    <form method="post" action="{% url 'submit_quiz' category.id %}">
        {% csrf_token %}
        {% for question in questions %}
            <fieldset>
                <legend>{{ question.question_text }}</legend>
                {% for answer in question.answers.all %}
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                        {{ answer.answer_text }}
                    </label><br>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <button style="color: red;border: 3px solid black ;" type="submit">Submit Quiz</button>
    </form>
</body>
</html>